html {
  font-family: Helvetica;
}
.header {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("./pattern.jpg");
  padding-top: 5px;
  padding-bottom: 5px;
}
h2 {
  font-weight: bold;
  font-size: 32px;
  color: white;
}
.brushes {
  background-color: mediumspringgreen;
}
.frames {
  background-color: lightcoral;
}
.paint {
  background-color: skyblue;
}
.sectionhead {
  font-weight: bold;
  font-size: 20px;
}
p {
  font-size: 18px;
  font-weight: normal;
  align-items: flex-start;
}
